
.fondo_form_cuenta {
			background: none repeat scroll 0 0 #E6E6E6;
		    border: 2px solid #928E8E;
		    margin: 0 auto;
		    padding: 20px;
		    width: 500px;
		
		}
#tbl_cuenta{
			text-align: center;
			
		}